<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-image: url(assets/img/theme/profile-cover.jpg);">
  <!-- Mask -->
  <span class="mask  opacity-8" style="background: linear-gradient(to right, #ffc107, #2c4481);"></span>

  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{client.firstName}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7 ">
  <div class="row justify-content-center">
    <div class="col-xl-8 order-xl-1 bg-default shadow">
      <div class="card bg-default shadow ">
        <div class="card-header bg-transparent border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0 text-white">Mon Compte</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Information d'utilisateur</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Prénom</label>
                    <p type="text" id="input-first-name" class="form-control form-control-alternative text-dark"><strong>{{client.firstName}}</strong></p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Nom</label>
                    <p type="text" id="input-last-name" class="form-control form-control-alternative">{{client.lastName}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="phone">N° téléphone</label>
                    <p type="text" id="phone" class="form-control form-control-alternative" >{{client.phoneNumber}}</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <p type="email" id="input-email" class="form-control form-control-alternative">{{client.email}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-cin">CIN</label>
                    <p type="text" id="input-cin" class="form-control form-control-alternative">{{client.cin}}</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-paymentAccount">Compt de payment</label>
                    <p type="text" id="input-paymentAccount" class="form-control form-control-alternative">{{client.paymentAccount}}</p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Adresse</label>
                    <p id="input-address" class="form-control form-control-alternative">{{client.Adresse}}</p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
