<div class="header pb-8 pt-5 pt-md-8" style="background: linear-gradient(to right,#ffc107, #2c4481);">


</div>
<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row mt-2">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Historique</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush text-center">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Référence</th>
              <th scope="col">Nom du client</th>
              <th scope="col">Nom du créancier</th>
              <th scope="col">Nom du service </th>
              <th scope="col">Montant</th>
              <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let operation of operations" class="align-middle">
              <th scope="row">{{ operation.ref}}</th>
              <th scope="row">{{ operation.creditorName}}</th>
              <td scope="row">{{ operation.clientName }}</td>
              <th scope="row">{{operation.serviceName }}</th>
              <td scope="row">{{ operation.amount }}</td>
              <td scope="row">{{ operation.doItAt}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-default py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
