<div class="header pb-8 pt-5 pt-md-8" style="background: linear-gradient(to right, #ffc107, #2c4481);">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Utilisateur</h5>
                  <p class="h4 font-weight-bold mb-0">{{client.firstName}}{{" "}}{{client.lastName}}</p>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-user"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Solde</h5>

                  <p class="h4"><b>000</b></p>

                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-money-bill-alt"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row mt-2">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Historique</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush text-center">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Référence</th>
              <th scope="col">Nom du client</th>
              <th scope="col">Nom du créancier</th>
              <th scope="col">Nom du service </th>
              <th scope="col">Montant</th>
              <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let operation of operations" class="align-middle">
              <th scope="row">{{ operation.ref}}</th>
              <th scope="row">{{ operation.creditorName}}</th>
              <td scope="row">{{ operation.clientName }}</td>
              <th scope="row">{{operation.serviceName }}</th>
              <td scope="row">{{ operation.amount }}</td>
              <td scope="row">{{ operation.date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-default py-4">

        </div>
      </div>
    </div>
  </div>
</div>
