<div class="header pb-8 pt-5 pt-lg-60 d-flex align-items-center">
  <span class="mask  opacity-8" style="background: linear-gradient(to right, #ffc107, #2c4481);"></span>

</div>

<div class="container-fluid mt--7 ">
  <div class="row justify-content-center">
    <div class="col-xl-8 order-xl-1 bg-default shadow">
      <div class="card bg-default shadow ">
        <div class="card-header bg-transparent border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0 text-white">Mon Compte</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Information agent</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Prénom</label>
                    <p class="form-control form-control-alternative text-dark">{{agent.firstName}}</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Nom</label>
                    <p id="input-last-name" class="form-control form-control-alternative">{{agent.lastName}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="phone">N° téléphone</label>
                    <p id="phone" class="form-control form-control-alternative" >{{agent.phoneNumber}}</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <p id="input-email" class="form-control form-control-alternative">{{agent.email}}</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">address</label>
                    <p class="form-control form-control-alternative">{{agent.address}}</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="label">cin</label>
                    <p class="form-control form-control-alternative">{{agent.cin}}</p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
