<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLinkActive="active" [routerLink]="['/dashboard']">{{getTitle()}}</a>
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
              <i class="fas fa-exchange-alt text-red" ></i>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm font-weight-bold">Alimenter</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class="dropdown-header noti-title"  *ngIf="currentStep === 2">
            <h6 class="text-overflow m-2">{{responseMessage}} </h6>
          </div>
          <form [formGroup]="paymentForm"  *ngIf="!responseMessage">
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">Montant </h6>
            </div>
            <div>
              <span><input type="number" class="form-control form-control-alternative" formControlName="montant"></span>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
              <span><button class="btn btn-sm btn-primary" type="button" (click)="submitForm()">Confirmer</button></span>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</nav>
