<div class="header pb-8 pt-5 pt-md-8" style="background: linear-gradient(to right, #0965c0, #c53a94);">
</div>

<div class="container-fluid mt--7">
  <div class="row mt-2">
    <div class="col">
      <div class="table-responsive">
        <div class="container-fluid">
          <div class="card border-0 shadow px-1">
            <div class="detailsAgentScroll">
              <div class="card-header text-white d-flex justify-content-end align-items-center rounded-top" style="background-color:#e37431">
                <div type="button" [routerLink]="['/admin']">
                  <i class="fas fa-sign-out-alt"></i>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <h1 class="MontserratB align-self-center">{{agent.firstName}} {{agent.lastName}}</h1>
                    <hr class="col-sm-12">
                    <dl class="row">
                      <dt class="col-sm-4 Lato text-primary">N° pièce d'identité</dt>
                      <dd class="col-sm-8 Lato">{{agent.cin}}</dd>
                      <hr class="col-sm-12">
                      <dt class="col-sm-4 Lato text-primary">Date de naissance</dt>
                      <dd class="col-sm-8 Lato">{{agent.birthDate}}</dd>
                      <hr class="col-sm-12">
                      <dt class="col-sm-4 Lato text-primary">Adresse</dt>
                      <dd class="col-sm-8 Lato">{{agent.address}}</dd>
                      <hr class="col-sm-12">
                      <dt class="col-sm-4 Lato text-primary">Email</dt>
                      <dd class="col-sm-8 Lato">{{agent.email}}</dd>
                      <hr class="col-sm-12">
                      <dt class="col-sm-4 Lato text-primary">N° téléphone</dt>
                      <dd class="col-sm-8 Lato">{{agent.phoneNumber}}</dd>
                      <hr class="col-sm-12">
                      <dt class="col-sm-4 Lato text-primary">N° d'immatriculation</dt>
                      <dd class="col-sm-8 Lato">{{agent.commercialRn}}</dd>
                      <hr class="col-sm-12">
                      <dt class="col-sm-4 Lato text-primary">N° de patente</dt>
                      <dd class="col-sm-8 Lato">{{agent.patentNumber}}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
